.form-login{
    background-color: #4c77af;
    color: white;
}

.btn{
    width: 100%;
    border: 2px solid rgba(174, 212, 241, 0.996);
    color: white;
    padding: 20px;
    font-weight:bold ;
    backdrop-filter: blur(7px);
    margin: 5px;
}